canvas{width:99% !important}
#panels{width:79.5%;float:right;height:400px;}
#notifications{float:left;width:20%;background:#F8F8F8 url(../img/status-bg.png);margin-bottom:-18px;margin-top:2px;}
#notifications .margin{margin:10px;}
#notes{list-style:none;margin:0px;padding:0px;}
#notes li{margin-bottom:8px;border:1px solid #ccc;padding:8px;border-radius:2px;background-color:#fff;cursor:pointer; transition:background-color 0.2s}
#notes li > a {color:inherit}
#notes li:hover{background-color:#FFFFCC}
#notes li.good{color:#3c763d;background-color:#dff0d8;border-color:#d6e9c6}
#notes li.good:hover{background-color:#d6e9c6}
#notes li.info{color:#31708f;background-color:#d9edf7;border-color:#bce8f1}
#notes li.info:hover{background-color:#bce8f1}
#notes li.warning{color:#8a6d3b;background-color:#fcf8e3;border-color:#faebcc}
#notes li.warning:hover{background-color:#faebcc}
#notes li.danger{color:#a94442;background-color:#f2dede;border-color:#ebccd1}
#notes li.danger:hover{background-color:#ebccd1}

.card{margin:10px;margin-top:20px;margin-bottom:0px;border:1px solid #ccc;border-radius:5px;width:47%;min-width:450px;max-width:485px;float:left;box-shadow:1px 2px 2px #ccc;min-height:220px}
.card .title{border-bottom:1px solid #eee;font-weight:bold;margin:5px;padding-bottom:5px;}
.card .body{margin:5px;}

/*Playbook Card*/
#playbook table td{text-align:center}
#playbook .large{font-weight:bold;font-size:25px;font-family:serif}

/*People Distribution Card*/
#people-chart{float:right;}
#people .large{font-weight:bold;font-size:21px;font-family:serif;}
#people .medium{font-weight:bold;font-size:18px;font-family:serif}

/*Pipeline Card*/
#pipeline table td{text-align:center}
#pipeline .large{font-weight:bold;font-size:25px;font-family:serif}
#pipeline .small{font-size:9px;color:#888}
#pipeline-legend .bar-legend{list-style:none}
#pipeline-legend .bar-legend li{display:inline-block;margin-right:10px;}
#pipeline-legend .bar-legend span{display:inline-block;height:10px;width:10px;margin-right:4px;}

/*People Status*/
.hmt_title {display:inline-block;width:50px;vertical-align:top;padding-top:5px}
.hmt_bar_wrapper {width:85%;border:1px solid #fff;height:25px;display:inline-block;overflow:hidden}
.hmt_bar_wrapper .hmt_bar {height:100%;display:inline-block;text-align:center;padding-top:5px;}
.hmt_bar_wrapper .hmt_bar.bar_h{background:#F18E8E;}
.hmt_bar_wrapper .hmt_bar.bar_m{background:#FFFF2B;}
.hmt_bar_wrapper .hmt_bar.bar_t{background:#4DD64D;}